@charset "utf-8";
/******************************************
			doc setting
******************************************/

html{
	background: rgb(201,201,201); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5YzljOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(201,201,201,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,201,201,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
	height:100%;
}

body{
	font-family: Lato,Corbel, Arial, Helvetica, sans-serif;
	margin:0; 
	padding:0; 
	border:0; 
	height:100%;
}

.doc {
    border-top: 0;
    border-bottom: 0;
	width:1000px;
	margin:0 auto;
	padding:0px 10px;
}

.doc a{
	color:#990000;
	text-decoration:none;
}

.doc a:hover{
	color:black;
}

.gototags a > div{
	width:60px;
	height:60px;
	background-color:#970000;	
	color:#FFF;
	border-radius:5px 0 0 5px;
}

.gototags div div{
	height:60px;
	display:inline-block;
	text-align:center;
	line-height:60px;
	vertical-align:top;
}

.gototags div div img{
	margin:6px 0 0 6px;
}

#gohomepage{
	position:absolute;
	right:0px;
	top:120px;
	z-index:3;	
}

#goproject{
	position:absolute;
	right:0px;
	top:200px;
	z-index:3;	
}


/******************************************
			header setting
******************************************/
.header {
	position:relative;
	height:90px;
	padding-top:10px;
	background-color: #000;
	-moz-box-shadow: 0 0 1em black;
    -webkit-box-shadow: 0 0 1em black;
	box-shadow: 0 0 1em black;
	
}

#head{
	z-index:10;
	height:90px;
	width:1000px;
	margin:auto;
	position:relative;
}

#hdleft{
	display:inline-block;
}

#account{
	position:absolute;
	right:0px;
}

#account a{
	text-decoration: none;
	padding: 5px 12px;
	color:#CCC;
	font-size:16px;
}

#account a:hover{
	text-decoration:underline
}

#account img{
	position:relative;
	top:2px;
	left:-20px;
	width:20px;
}

#searchbox{
	
	position: relative;
	top:-10px;
	left:30px;
	border-radius:5px;
}



#searchbox input{

	border-style:none;	
	background-color:#555;
	-webkit-appearance:none;
	padding:5px;
	padding-right:35px;
	width:180px;
	height:20px;
	border-radius:5px;
	color:#ccc;
}

#searchbox img{
	position:relative;
	left:-30px;
	width:20px;
	height:20px;
	top:5px;
	cursor:pointer;
}

#nav{

	display:inline-block;
	margin:auto;
	position:relative;
	top:12px;	

}

#nav tr td{

	-webkit-transition: All .5s ease;
	-moz-transition: All .5s ease;
	-o-transition: All .5s ease;
	-ms-transition: All .5s ease;
	transition: All .5s ease;
	
}

#nav tr td a{

	text-decoration:none;
	color:#EEE;
	
}

.submenu{

	-webkit-transition: All .5s ease;
	-moz-transition: All .5s ease;
	-o-transition: All .5s ease;
	-ms-transition: All .5s ease;
	transition: All .5s ease;
	z-index:0;
	
}

#nav td{

	padding: 10px 12px 10px 10px;
	color:#FFF;
	font-weight:bold;
	font-size:20px;
	cursor:pointer;
}

#nav td:hover{

	background-color:#555;
	
}

#nav td:hover div{
	display:block;
	
}

#nav div{
	
	margin-left:-10px;
	background-color:#FFF;
	position:absolute;
	display:none;
	top:46px;
	z-index:10
}

#nav div span{

	display:block;
	width:200px;
	
	
}

#nav div span a{
	color: #333;
	font-size:16px;
	text-decoration: none;
	display:block;
	padding:10px;
}

#nav div span :hover{
	background-color:#CCC;
}


#clickme{
	background-color:#EEE;
	width:900px;
	height:50px;
	margin: 20px auto;
	-moz-box-shadow: 0 0 1em black;
    -webkit-box-shadow: 0 0 1em black;
	box-shadow: 0 0 1em black;
	text-indent:150px;
	font-size:24px;
	color:#970000;
	line-height:50px;
	border-radius:5px;	
}
/******************************************
			body setting (left&right)
******************************************/
#main{
	background-color:#EEE;
	width:1000px;
	margin: 20px auto;
	-moz-box-shadow: 0 0 1em black;
    -webkit-box-shadow: 0 0 1em black;
	box-shadow: 0 0 1em black;
	padding-bottom:20px;
	display:block;
	position:relative;
	border-radius:5px;
}


#tile{
	width:960px;
	height:550px;
	margin:30px 20px; 
}

#local_event{
	width:330px;
	height:540px;
	float:right;
	background-color: rgba(0,0,0,0.8)
}

#video{
	border: 1px black solid;
	width:600px;
	height:338px;
}

.product{
	width:293px;
	height:	180px;
	display:inline-block;
	margin:20px 20px 20px 0px;
}

.product:hover{
	cursor:pointer;	
}

/******************************************
			footer setting
******************************************/
.footer{
	
	margin-top:100px;
	width:100%;
	z-index:10;
	bottom:0;
	left:0;
	height: 180px;
	background-color:black;	
	color:#CCC; 
	-moz-box-shadow: 0 0 1em black;
    -webkit-box-shadow: 0 0 1em black;
	box-shadow: 0 0 1em black;
	
	
}

#foot1, #foot2{ 
	
	width: 1000px;
	height: 100px;
	margin: auto;
}

.feature{
	margin-top: 15px;
	width : 450px;
		
}

#signupText input{
	font-family:'Lato';
	border-style:none;	
	background-color:#555;
	-webkit-appearance:none;
	padding:5px;
	padding-right:32px;
	width:250px;
	height:20px;
	border-radius:5px;
	color:#ccc;
	
}

#signupText img{

	position:relative;
	left:-30px;
	width:20px;
	height:20px;
	top:5px;
	cursor:pointer;
}

#cpyRight{
	font-family:'Lato';
	font-weight:300;
	text-align:center;
	padding-top:30px;
}

#signup{

	font-weight:300;
	padding: 0 0 5px 0;
}


#connectus{
	
	text-align:right;
	padding-top:10px;
}

#connectus img{
	-webkit-transition: All .5s ease;
	-moz-transition: All .5s ease;
	-o-transition: All .5s ease;
	-ms-transition: All .5s ease;
	transition: All .5s ease;
	height:40px;	
}

#connectus img:hover{
	opacity:.7;	
}

/******************************************
			product detail setting
******************************************/
.productdetail{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color:rgba(0,0,0,0.4);	
	display:none;
}

.crosspic{
	position: absolute;	
	width:15px;
	background-color: rgba(0,0,0,0.5);
	padding:8px;
	border-radius:20px;
	top:-15px;
	right:-15px;
}

.crosspic:hover{
	padding:10px;
	cursor:pointer;
}

.productdetailbox{
	width:800px;
	height:600px;
	background-color:#FFF;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
}


.productdetailbox .thumb:hover{
	border:1px solid #000;
	cursor:pointer;
}

.thumb{
	height:100px;
	border:1px solid #999;
}

.bigpic{
	width:300px;
}

.addcart{
	font-size:22px;
	padding:6px;
	color:#fff;
	background-color:#F00;
	width:180px;
	border-radius:10px;
}

.productdetailbox span{
	position:relative;
	padding:5px 30px;
	width: 400px;
	height:30px;
	border-radius:10px 10px 0 0;
}

.productdetailbox span:hover{
	cursor:pointer;	
}

.spaninfo{
	background-color:#FFF;
	border:1px solid #999;
	border-bottom:1px solid #FFF;
}

.spanreview{
	margin-left:-3px;
	background-color:#CCC;
	border:1px solid #999;
}


.desbox{
	text-indent:15px;
	margin-top:5px;
	width:440px;
	height: 300px;
	border:1px solid #999;
	overflow-y:scroll;
}

.desbox h4{	
	font-weight:bold;
	margin-bottom:-15px;
}

.desbox .reviewid{
	font-size:12px;
	color:#333;	
}

.productinfo{
	display:block;
}

.productreview{
	display:none;
}

.reviewtext{
	margin:0 20px;
	border-bottom:1px solid #CCC;	
}

